@font-face {
    font-family: "KisBT";
    src: url(fonts/KisItalicBT.ttf);
}
@font-face {
    font-family: "Ultimate Serial";
    src: url(fonts/ultimate-serial-medium-regular.ttf);
}
body{
    background: #a7a7a7;
}
.full-screen-main{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    background: #f2f2f2;
    padding: 20px;
    padding-bottom: 0;
    
}
.full-screen-main img{
    position: relative;
    width: 100%;
}
.full-screen-main-footer{
    display: flex;
    width: 100%;
}
.full-screen-main-footer-collection{
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    font-family: "KisBT";
    font-size: 16px;
}
.full-screen-main-footer-collection h3{
    flex-basis: 50%;
    font-weight: normal;
}
.full-screen-main-footer-product-details{
    position: relative;
    width: 50%;
    font-family: "Ultimate Serial";
    font-size: 10px;
    text-align: left;
}
.full-screen-main-footer-product-details h4{
    margin: 0px;
    font-weight: normal;
}
.full-screen-main-footer-HAT{
    width: 80%;
    font-family: 'Arial Narrow Bold', sans-serif;
    text-align: right;
    line-height: 100%;
    font-size: 24vw;
    font-weight: normal;
}